#Backend URL, sin barra final.
VITE_API_BASE_URL=http://localhost:3000

#Url pública autogestión, sin barra al final (lo usamos para health check)
VITE_AUTOGESTION_URL=https://webservice.frvm.utn.edu.ar/autogestion